.success-story {
  background: linear-gradient(rgba(255, 200, 0, 0.7), rgba(255, 200, 0, 0.7)), url("/images/background.jpg");
  background-size: cover;
  background-position: center;
  padding: $spacing-lg 0;
}
