// Refactored styles using BEM for better structure.
.who-we-are {
  display: flex;
  align-items: center;
  padding: $spacing-lg;
  background-color: $primary-color;
  color: $text-color;
  justify-content: space-evenly;
  margin: auto;
  width: 100%;

  &-container {
    display: flex;
    max-width: 80rem;
    gap: $spacing-lg;
    align-items: center;
  }

  &-stat {
    background: $highlight-color;
    padding: 2rem;
    border-radius: $border-radius;
    text-align: center;
    width: 35%;
  }

  &-content {
    width: 65%;
  }

  &-button {
    @include button(white, black);
    margin-top: $spacing-md;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  }
}
